.hidden {
  display: none !important;
}

.container {
  max-width: 575px;
  margin: 0 auto;
  padding: 0 1.5rem;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.column-half {
  width: 50%;
}

.column-full,
.column-half {
  width: 100%;
}

#url-preview {
  width: 100%;
  height: auto;
  max-width: 300px;
  margin: 0 auto;
}

@media screen and (width >= 768px) {
  .container {
    max-width: 900px;
  }

  .row {
    align-items: center;
  }

  .column-full,
  .column-half {
    padding: 0 0.75rem;
  }

  .column-half {
    width: 50%;
  }
}
